@font-face {
    font-family: 'Croissant One';
    src: url('CroissantOne-Regular.woff2') format('woff2'),
        url('CroissantOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

