*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.container{
	max-width:1320px;
	margin:0 auto;
	padding:0 15px;
}
.w-4{
	width:25%;
}
.row{
	display:flex;
	flex-wrap:wrap;
}
.services-items{
	background-color:black;
	margin:10px;
}
.services-items p{
	color:white;
	padding:20px;
}
.w-4:nth-child(2) .services-items{
	background-color:blue;
}
.w-4:nth-child(3) .services-items{
	background-color:purple;
}
.w-4:last-child .services-items{
	background-color:red;
}