@font-face {
    font-family: 'Mooli';
    src: url('Mooli-Regular.woff2') format('woff2'),
        url('Mooli-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

