*{
	
	box-sizzing:border-box;
}

body{
	margin:0px;
}

.p{
	height:500px;
	background-color:pink;
	color:white;
	text-align:justify;
	padding:50px;
	margin:50px;
	border-style:groove;
	border-width:10px;
	border-color:gold;
	border-radius:10px;
	padding:10px;
	border-top-style:dotted;
	border-bottom-style:dotted;
}