*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.bg{
	height:400px;
	background-color:#f4f4f4;
	display:flex;
}
.b{
	height:70px;
	width:70px;
	background-color:pink;
	margin:10px;
	text-align:center;
	line-height:70px;
}